// Assistant Regular
@font-face {
    font-family: 'Assistant';
    src: url('./../../../fonts/assistant-regular.woff2');
    font-weight: normal;
    font-display: swap;
}

// Assistant Bold
@font-face {
    font-family: 'Assistant Bold';
    src: url('./../../../fonts/assistant-bold.woff2');
    font-weight: bold;
    font-display: swap; 
}

// Merriweather Regular
@font-face {
    font-family: 'Merriweather';
    src: url('./../../../fonts/merriweather-regular.woff2');
    font-weight: normal;
    font-display: swap;
}

// Merriweather Bold
@font-face {
    font-family: 'Merriweather Bold';
    src: url('./../../../fonts/merriweather-bold.woff2');
    font-weight: bold;
    font-display: swap;
}
