@import '../../../core/variables';
@import '../../../mixins/media-queries';
@import '../../../mixins/rems';
@import '../../../mixins/spacing';

.btn {
    @include spacing(padding-top, $base-button-spacing-vertical);
    @include spacing(padding-right, $base-button-spacing-horizontal);
    @include spacing(padding-bottom, $base-button-spacing-vertical);
    @include spacing(padding-left, $base-button-spacing-horizontal);
    @include rem(font-size, $base-font-size-px);

    display: inline-block;
    background: $brand-gray-06;
    border: 1px solid $brand-gray-13;
    color: $brand-color-black;
    cursor: pointer;
    font-family: $brand__font-primary;

    &:hover {
        background: lighten($brand-gray-06, 10%);
        color: $brand-color-black;
    }

    &:focus,
    &:active {
        background: darken($brand-gray-06, 10%);
        border: 1px solid darken($brand-gray-06, 10%);
        outline: none;
    }

    &:disabled,
    &--disabled {
        background: $brand-gray-13;
        border: 1px solid $brand-gray-13;
        color: $brand-color-white;
        cursor: not-allowed;
    }
}

.btn--primary {
    background: $brand-color-primary;
    border: 1px solid $brand-color-primary;
    color: $brand-color-white;

    &:hover {
        background: lighten($brand-color-primary, 10%);
        border: 1px solid lighten($brand-color-primary, 10%);
    }

    &:focus,
    &:active {
        background: darken($brand-color-primary, 10%);
        border: 1px solid darken($brand-color-primary, 10%);
    }
}

.btn--secondary {
    background: $brand-color-secondary;
    border: 1px solid $brand-color-secondary;
    color: $brand-color-white;

    &:hover {
        background: lighten($brand-color-secondary, 10%);
        border: 1px solid lighten($brand-color-secondary, 10%);
        color: $brand-color-white;
    }

    &:focus,
    &:active {
        background: darken($brand-color-secondary, 10%);
        border: 1px solid darken($brand-color-secondary, 10%);
        color: $brand-color-white;
    }
}

.btn--tertiary {
    background: $brand-color-tertiary;
    border: 1px solid $brand-color-tertiary;
    color: $brand-color-white;

    &:hover {
        background: lighten($brand-color-tertiary, 10%);
        border: 1px solid lighten($brand-color-tertiary, 10%);
    }

    &:focus,
    &:active {
        background: darken($brand-color-tertiary, 10%);
        border: 1px solid darken($brand-color-tertiary, 10%);
    }
}

.btn--small {
    @include spacing(padding-top, $base-button-spacing-vertical--small);
    @include spacing(padding-right, $base-button-spacing-horizontal--small);
    @include spacing(padding-bottom, $base-button-spacing-vertical--small);
    @include spacing(padding-left, $base-button-spacing-horizontal--small);
    @include rem(font-size, $base-font-size--small-px);
}

.btn--large {
    @include spacing(padding-top, $base-button-spacing-vertical--large);
    @include spacing(padding-right, $base-button-spacing-horizontal--large);
    @include spacing(padding-bottom, $base-button-spacing-vertical--large);
    @include spacing(padding-left, $base-button-spacing-horizontal--large);
    @include rem(font-size, $large-font-size-px);
}

.btn-link--primary {
    background: transparent;
    color: $brand-color-primary;
    text-decoration: underline;
    border: none;

    &:hover {
        color: lighten($brand-color-primary, 10%);
    }

    &:focus,
    &:active {
        background: transparent;
        color: darken($brand-color-primary, 10%);
    }
}

.btn-link--secondary {
    background: transparent;
    color: $brand-color-secondary;
    text-decoration: underline;
    border: none;

    &:hover {
        color: lighten($brand-color-secondary, 10%);
    }

    &:focus,
    &:active {
        background: transparent;
        color: darken($brand-color-secondary, 10%);
    }
}
