// Colors
$named-color-blue: #4a90e2;
$named-color-green: #1bc171;
$named-color-red: #ee3d42;
$named-color-white: #fff;

// Grays
$named-color-gray-06: #f0f0f0;
$named-color-gray-13: #dedbdb;
$named-color-gray-26: #bcbaba;
$named-color-gray-57: #6d6d6d;
$named-color-gray-81: #313131;
$named-color-gray-82: #2e2e2e;

// Black and white
$named-color-white: #ffffff;
$named-color-black: #000000;

//Pokemon types
$named-color-bug: #A5C547;
$named-color-water: #33AFDB;
$named-color-grass: #A5D91F;
$named-color-fire: #D5BA4E; 
$named-color-normal: #B2B1B8; 
$named-color-psychic: #8559A2;
$named-color-rock: #CA713A;
$named-color-poison: #A996C1;
$named-color-ice: #8ED1F1;
$named-color-fairy: #E1288C;
$named-color-ground: #E5B680;
$named-color-dragon: #CFB801;
$named-color-electric: #F5E03A;
$named-color-ghost: #B96BA4; 
$named-color-fighting: #C87A27;
$named-color-card-border: #CFB801;
