// Global unchangeable variables
// Spacing
$zero: 0;
$auto: auto;

//ratios
$ratio__square:                                     percentage(1/1);
$ratio__2-3:                                        percentage(2/3);
$ratio__4-3:                                        percentage(3/4);
$ratio__16-9:                                       percentage(9/16);
$ratio__900-570:                                    percentage(900/570);

// percentages
$percentage--100:                                   100%;
$percentage--80:                                    80%;
$percentage--75:                                    75%;
$percentage--70:                                    70%;
$percentage--60:                                    60%;
$percentage--50:                                    50%;
$percentage--40:                                    40%;
$percentage--35:                                    35%;
$percentage--33:                                    33.3333333333%;
$percentage--30:                                    30%;
$percentage--25:                                    25%;
$percentage--20:                                    20%;
$percentage--15:                                    15%;