$theme__font-primary: 'Assistant', Helvetica, Arial, sans-serif;
$theme__font-primary--bold: 'Assistant Bold', Helvetica, Arial, sans-serif;
$theme__font-secondary: 'Merriweather', Times, Times New Roman, Georgia, serif;
$theme__font-secondary--bold: 'Merriweather Bold', Times, Times New Roman, Georgia, serif;

//= Headings
$theme-h1__font-size : 32px;
$theme-h2__font-size : 24px;
$theme-h3__font-size : 20px;
$theme-h4__font-size : 18px;
$theme-h5__font-size : 16px;
$theme-h6__font-size : 14px;