@import '../../mixins/spacing';
@import '../../mixins/media-queries';

.v-flex {
    display: flex;
    flex-direction: column;

    @media #{$mq-vp__medium} {
        flex-direction: row;
    }

    &--align-center {
        align-items: center;
    }

    &--justify-center {
        justify-content: center;
    }

    &--justify-end {
        justify-content: flex-end;
    }

    &--full-height {
        height: 100%;
    }

    &--full-width {
        width: 100%;
    }
}

.v-flex-column {
    @include spacing(margin-bottom, 2);
    flex: 1;

    &--large {
        flex-basis: 40%;        
    }

    @media #{$mq-vp__medium} {
        @include spacing(margin-bottom, 0);
        @include spacing(padding-right, 2);
        @include spacing(padding-left, 2);

        &--slim {
            @include spacing(padding-right, 1);
            @include spacing(padding-left, 1);
        }

        &:first-child {
            @include spacing(padding-left, 0);
        }

        &:last-child {
            @include spacing(padding-right, 0);
        }
    }
}

.v-flex-reverse {
    order: -1;

    @media #{$mq-vp__medium} {
        order: 0;
    }
}
