@import '../../../core/variables';

a {
    color: $anchor-color;

    &:hover,
    &:focus {
        color: $anchor-hover;
    }

    &:active,
    &:visited {
        color: $anchor-active;
    } 
}
